:root {
  --color-main: #ccdbfd;
  --color-secondary: #edf2fb;
  --color-text: #0c2351;
  --color-main-darkmode: #161f2f;
  --color-secondary-darkmode: #1a263e;
  --color-text-darkmode: #ccdbfd;
}
